.container{
/*   
  width: 117rem;
  height: 60.6rem; */
  width: 99.5vw;
  height: 99.5vh;
  background: linear-gradient(180deg, var(--purple-200) 0%, var(--purple-300) 100%);
}

.content {
  max-width: 100rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display:inline-flex;  
  flex-direction:row;
}

