*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --white: #ffffff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-500: #00875f;
  
  --purple-100: rgb(221, 210, 228);
  --purple-200: rgb(103,68,128);
  --purple-300: rgb(89,53,114);
  --purple-400: rgb(77, 45, 100);
  --purple-800: rgb(57,30,77);
  --purple-900: rgb(40,20,51);

  --orange-100: #fccb9b;
  --orange-200: #ffae5c;
  --orange-300: #ef8d2a;
  --orange-400: #ef8d2a;
  --orange-500: #ef652b;
  --orange-900: #ee402e;
}

body{
  font-style: normal;
  color: #fff;
  -webkit-font-smoothing: antialiased;

}

html{
  @media(max-width: 1080px){
    font-size: 93.75%; /*16 * 0,9375 = 15px */
  }

  @media(max-width: 720px){
    font-size: 87.5%; /*16 * 0,875 = 14px */
  }
}

body, input, textarea, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong{
  font-weight: 600;
}

button {
  cursor: pointer;
}

[diabled]{
  opacity: 0.6;
  cursor: not-allowed;
}