button {
  font-size: 1rem;
  color: var(--white);
  background: var(--purple-400);
  border: 0;
  padding: 0 2rem;
  border-radius: 0.25rem;
  height: 3rem;

  transition: filter 0.2s;
}
button:hover{
  filter: brightness(0.9)
}