.content{
  height: 685px;
  padding: 20px;
}

.colunas{
  /* display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px; */
  display:inline-flex;
  border:3px solid #fff;
  flex-direction:row;
}
.fundo{
  background-color: var(--purple-800);
  border-radius: 15;
  padding:20 0 20 0;
}
.item1 {

  grid-column: 1 / 7;
  grid-row: 1;
}
.item2 {

  grid-column: 2 / 7;
  grid-row: 1;
}
.item3 {

  grid-column: 3 / 7;
  grid-row: 1;
}
.item4 {

  grid-column: 4 / 7;
  grid-row: 1;
}
.item5 {
  
  grid-column: 5 / 7;
  grid-row: 1;
}
.item6 {
  grid-column: 6 / 7;
  grid-row: 1;
}

.item7 {
  
  grid-column: 7 / 7;
  grid-row: 1;
}