.container{
  height: 42rem;
  padding: 20px;
}

.content{
  width: 83rem;
  display:inline-flex;
  flex-direction:row;
}


.colunas{
  display: inline-flex;
  flex-direction:row;
  gap: 5px;
  margin-top: 10px;
}

.boxweather{

  border:2px solid;
  background-color: var(--purple-300);
  border-color: var(--purple-200);
  opacity: 09;
  border-radius: 30px;
  padding: 15px 15px 15px 15px;
}

.boxcurrentweather{
  border:2px solid;
  background-color: var(--white);
  border-color: var(--gray-900);
  opacity: 09;
  border-radius: 30px;
  padding: 15px 15px 15px 15px;
}
.currrentweather{

  background-color: var(--purple-800);
  border-color: var(--purple-200);
  opacity: 09;
  
}