.sidebar{
  background-color: var(--purple-300) ;
  border-radius: 15px;
  height: 42rem;
  
  padding: 20px;
  opacity: 0.9;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.img_logo{
  width: 92%;
  vertical-align: middle;

}