.sidebar{
  background-color: var(--purple-300) ;
  border-radius: 15px;
  width: 10rem;
  height: 42rem;
  
  padding: 20px;
  opacity: 0.9;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.img_logo{
  width: 5rem;
  
  vertical-align: middle;
  border-radius: 5px;
  
 
  
  


}